body {
    background-image: url(black_mamba.png);
}

.navbar {
    background-color: rgb(9, 73, 73);
}

.jumbotron {
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 1rem;
    padding-top: 30px;
}

.h1, h1  {
    text-align: center;
}

.lead  {
    text-align: center;
}

.fa {
    size: 50px;
}

.details {
    float: left;
    width: 33%;
    text-align: center;
}

.display-4 {
    margin: 
}
