body {
    background-image: url(black_mamba.png);
}

.navbar {
    background-color: rgb(9, 73, 73);
}

.jumbotron {
    margin-top: 50px;
    height: 500px;
    width: 75%;
    float: left;
}

.input-group.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext  {
    width: 100%;
    margin-top: 5px;
}

.btn-primary {
    margin-left: 5px;
}

h1  {
    text-align: center;
}

h2 {
    text-align: center;
}