body {
    background-image: url(black_mamba.png);
}

h1 {
    text-align: center;
}

.navbar {
    background-color: rgb(9, 73, 73);
}

.jumbotron {
    margin-top: 50px;
    height: 500px;
    width: 75%;
    float: left;
}

.form-group {
    width: 75%;
    margin-left: 20px
}

.btn {
    margin: 20px;
}