body {
    background-image: url(black_mamba.png);
}

header{
    max-width: 100%;
}

.main-container {
    height: 100%;
    max-width: 100%;
    margin: auto;
    clear: both;
    display: inline-block;
    text-align: center;
}

.btn-container {
    max-width: 100%;
    
}

.row {
    max-width: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.lead {
    line-height: 1.5;
}

.headshot {
    width: 25%;
    height: 25%;
    border-radius: 50%;
    justify-content: center;
    text-align: justify;
    margin-top: 5%;
  }

 .intro {
    display: block; 
    margin-top: 5%;
    color: white;
    font-size: 5vw;
 }

 .intro-line2 {
    display: block; 
    margin-top: 2%;
    color: white;
    font-size: 5vw;
 }

.btn {
    background-color: gray;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 5px;
          
}

