body {
    background-image: url(black_mamba.png);
}

.container {
    height: 100%;
    max-width: 1500px;
    margin: auto;
    clear: both;
    display: inline-block;
    text-align: center;
}

.lead {
    line-height: 1.5;
}

.headshot {
    width: 25%;
    height: 25%;
    border-radius: 50%;
    justify-content: center;
    text-align: justify;
    margin-top: 5%;
  }

 .intro {
    display: block; 
    margin-top: 5%;
    color: white;
    font-size: 5vw;
 }

 .intro-line2 {
    display: block; 
    margin-top: 2%;
    color: white;
    font-size: 5vw;
 }

.btn {
        background-color: gray;
        border: none;
        color: white;
        padding: 12px 16px;
        font-size: 16px;
        cursor: pointer;
        margin-left: 5px;
          
}