body {
    background-image: url(black_mamba.png);
}

h1 {
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 15px;
    margin-bottom: 20px;
}

h2 {
    color: white;
    text-align: center;
    font-size: 20px;
}

p {
    color: white;
}

.container {
    margin-bottom: 10px;
}

.card {
    height: 300px;
}

.card-body {
    background-image: url(black_mamba.png);
}

.row {
    margin-top: 0rem;
}

.col-sm-12 {
    margin-top: 1rem;
}

.mt-4, .my-4 {
    margin-top: 0rem!important;
}

.card-title {
    color: white;
}

.card-img-top {
    width: 100%;
    height: 17vw;
    object-fit: cover;
}


.lead {
    color: black;
}




