body {
    background-image: url(black_mamba.png);
}

h1 {
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}


h2 {
    color: black;
    text-align: center;
    font-size: 10px;
}

.bio-box {
    width: 80%;
    justify-content: center;
    margin: auto;
}

.bio {
    text-align: center;
    font-size: 20px;
    font-weight: 250;
    color: white;
}

.jumbotron{
    padding: 2rem 1rem;
    margin-top: 20px;
    height: 525px;
}

.icon{
    text-align: center;
    margin-bottom: 10px;
}


.box-header {
    color: black;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.box-item {
    font-weight: bold;
}

.row {
    display: flex;
}

@media screen and (max-width: 992px) {
    .bio-box {
         width: 80%;
         font-size: 90%;
     }
 }

@media screen and (max-width: 768px) {
    .bio-box {
         width: 95%;
         font-size: 90%;
     }
 }
